#obs {
  padding-top: 20px;
  font-weight: bold;
}

.wrap-serv {
  position: relative;
}

.wrap-serv img {
  width: 100%;
}

.wrap-title {
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

/*estilos servicos e procedimentos ini*/
.wrap-title-sp {
  padding-top: 20px;
  text-align: center;
}
.sp-text a {
  font-weight: bold;
}

.sp-text a:hover {
  color:#00aeef;
}

.sp-text-un {
  padding-top: 20px;
}

.img-principal {
  padding: 25px;
}

.img-principal img {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 990px) {
  .img-menor {
    padding: 10px;
  }
}


/*estilos servicos e procedimentos fim*/

.servicos span {
  font-weight: bold;
  font-size: 16px;
}

.servicos p, .servicos p a {
  color: #fff;
}

.servicos p a {
  font-weight: bold;
}

.servicos p a:hover {
  color: #00aeef;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0; 
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 20%;
  height: 20%;
  transition: .5s ease;
}

.wrap-serv:hover .overlay {
  opacity: 1;
	margin: 0px;
  width: 100%;
  height: 100%;
  right: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.fproced li {
  margin-bottom: 17px;
}
.fproced a {
  color: #fff;
  font-size: 14px;
}

.fproced a:hover {
  color: #00aeef;
}

.nav-footer {
  text-align: center;
}

.nav-footer ul {
  list-style: none;
  display: inline-block;
}

.nav-footer ul li {
  float:left;
  padding-right: 20px;
}

.nav-footer ul li a {
  color: #fff;
}

.nav-footer ul li a:hover {
  color: #00aeef;
}

.wrapper-dent {
  padding-top: 4px;
}

.wrapper-dent-cont {
  padding: 20px;
}


.wrapper-dent-cont h5, .wrapper-dent-cont p{
  color: #fff;
}


.wrapper-dent-cont a {
  color: #fff;
  font-weight: bold;
}

.wrapper-dent-cont a:hover {
  color: #00aeef;
}