<IfModule mod_rewrite.c>
  RewriteEngine On

  # Página servicos e procedimentos
  #RewriteRule ^servicos-procedimentos/?$ servicos-procedimentos.php [NC,L]
  # Página clinica
  RewriteRule ^clinica/?$ clinica.php [NC,L]
  #Curriculo
  RewriteRule ^curriculo/?$ curriculo.php [NC,L]
  
  #Orientacoes
  RewriteRule ^orientacoes/?$ orientacoes.php [NC,L]  
  
  #Fale conosco
  RewriteRule ^fale-conosco/?$ fale-conosco.php [NC,L]
  
  #index
  RewriteRule ^index/?$ index.php [NC,L]    
  
  #servicos e procedimentos
  RewriteRule ^servicos-e-procedimentos/?$ servicos-procedimentos.php [NC,L]
  RewriteRule ^servicos-e-procedimentos/([id]+)/([0-9]+)?$ servicos-procedimentos.php?id=$2 [NC]
</IfModule>
