<!-- ***** Footer Area Start ***** -->
<footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/3.jpg);">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="./index.html" class="d-block mb-4"><img src="./img/logo-1.png" alt=""></a>
            <!-- <p>Etiam sutor risus, dapibus act elefend katen, lacinia sitamet denim. Mauris sagittis kansa interdum dignissim.</p> -->
            <div class="footer-contact">
              <p><i class="icon_pin"></i> Rua Thieres Botelho, nº 160 Araxá-MG</p>
              <p><i class="fa fa-user"></i> Dr Gustavo Souza CROMG 45.845</p>
              <p><i class="icon_phone"></i> (34) 3661 3490</p>
              <p><i class="icon_mail"></i> contato@gustavosouza.net</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Procedimentos</h5>

            <!-- Opening Hours -->
            <ul class="fproced">
              <li><a href="servicos-procedimentos.php?id=5">Clareamento dental</a></li>
              <li><a href="servicos-procedimentos.php?id=4">Limpeza dentária</a></li>
              <li><a href="servicos-procedimentos.php?id=3">Diagnóstico e tratamento da Disfunção Temporo Mandibular (DTM) e Dor Orofacial</a></li>
              <li><a href="servicos-procedimentos.php?id=1">Mini-implantes</a></li>
              <li><a href="servicos-procedimentos.php?id=2">Moldeiras de proteção para prática esportiva</a></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Aparelhos</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="fproced">
                <li><a href="servicos-procedimentos.php?id=9">Aparelho Alinhador Estético</a></li>
                <li><a href="servicos-procedimentos.php?id=8">Aparelho Auto-Ligável</a></li>
                <li><a href="servicos-procedimentos.php?id=12">Aparelho Estético</a></li>
                <li><a href="servicos-procedimentos.php?id=10">Aparelho lingual</a></li>
                <li><a href="servicos-procedimentos.php?id=6">Aparelhos de Contenção</a></li>
                <li><a href="servicos-procedimentos.php">Ver mais aparelhos</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Fale conosco</h5>
            <!-- Newsletter Form -->
            <div id="info-footer"></div>
            <div class="appointment-form">
              <form id="fale-conosco-footer" method="post">
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdKvpwUAAAAAElcsjrWPDfNzHg67j549daXkJKb"></div>
                </div>
                <div class="form-group">
                  <input type="email" name="message-email" value="" placeholder="Email" class="form-control" required>
                </div>
                <div class="form-group">
                  <textarea name="message" value="" placeholder="Mensagem" class="form-control" required></textarea>
                </div>
                <button class="btn dento-btn">Enviar</button>
          </div>
              </form>
            </div>

            <!-- Social Info -->
         <!--    <div class="footer-social-info">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <nav class="nav-footer">
                <ul id="nav">
                  <li><a href="index.php">Início</a></li>
                  <li><a href="servicos-procedimentos.php">Serviços e procedimentos</a></li>
                  <li><a href="clinica.php">Clínica</a></li>
                  <li><a href="curriculo.php">Currículo</a></li>
                  <li><a href="orientacoes.php">Orientações</a></li>
                  <li><a href="fale-conosco.php">Fale conosco</a></li>
                </ul>
              </nav>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              &copy; 2019 
               Desenvolvido por <a href="http://rafaeldemoraes.com.br" target="_blank">
                Estúdio Rafael de Moraes</a>
            </p>          
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="js/default-assets/active.js"></script>
<script>
    $("#fale-conosco-footer").submit(function(e) {
      var formData = new FormData(this);
    $.ajax({
      url: 'contato.php',
      type: 'POST',
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function( data ) {
        if (data == '200') {
          $("#info-footer").html('<div class="alert alert-success">'
            +'Mensagem enviada!</div>');
          }
        if (data == 'roboerro') {
            $("#info-footer").html('<div class="alert alert-danger">'
            +'Problemas no envio marque o botão não sou um robô!</div>');
        }
        },
        error: function (request, status, error) {
          console.log(request+" error "+error);
        }
      }); 
      e.preventDefault();
    });
</script>