<!-- Menu -->
<div class="classy-menu">

    <!-- Close Button -->
    <div class="classycloseIcon">
      <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>

    <!-- Nav Start -->
    <div class="classynav">
      <ul id="nav">
        <li><a href="index.php">Início</a></li>
        <li><a href="servicos-procedimentos.php">Serviços e procedimentos</a></li>
        <li><a href="service.html">Clínica</a></li>
        <li><a href="pricing.html">Currículo</a></li>
        <li><a href="blog.html">Orientações</a></li>
        <li><a href="blog-details.html">Fale conosco</a></li>
      </ul>
    </div>
    <!-- Nav End -->
  </div>
</nav>
</div>
</div>
</div>
</header>
<!-- ***** Header Area End ***** -->