<!-- Main Header Start -->
<div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="dentoNav">

          <!-- Logo -->
          <a class="nav-brand" href="index.php"><img src="img/logo-1.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

<!-- Menu -->
<div class="classy-menu">

    <!-- Close Button -->
    <div class="classycloseIcon">
      <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>

    <!-- Nav Start -->
    <div class="classynav">
      <ul id="nav">
        <li><a href="index.php">Início</a></li>
        <li><a href="servicos-procedimentos.php">Serviços e procedimentos</a></li>
        <li><a href="clinica.php">Clínica</a></li>
        <li><a href="curriculo.php">Currículo</a></li>
        <li><a href="orientacoes.php">Orientações</a></li>
        <li><a href="fale-conosco.php">Fale conosco</a></li>
      </ul>
    </div>
    <!-- Nav End -->
  </div>
</nav>
</div>
</div>
</div>
</header>
<!-- ***** Header Area End ***** -->